{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Welcome to TubeDownloader</h1>
        <form method="POST" action="/" class="mt-4">
            <div class="form-group row align-items-center">
                <div class="col-auto">
                    <label for="url" class="col-form-label">URL:</label>
                </div>
                <div class="col">
                    <input type="text"
                           id="url" name="url"
                           class="form-control"
                           placeholder="Paste YouTube Video or Playlist Link"
                           required >
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Extract</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}