{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5">Playlist Videos</h2>
        <ul class="list-group">
            {% for video in info %}
            <li class="list-group-item">
                {{ video.title }}
                <a href="{{ url_for('video', info=info }}" class="btn btn-primary btn-sm float-right">Download</a>
            </li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-secondary mt-4">Go Back</a>
    </div>
{% endblock %}}
