{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5">{{ title }}</h2>
        <p>Choose your preferred format:</p>
        <ul class="list-group">
            {% for format in info %}
                <li class="list-group-item">
                    {{ loop.index }}. Format_ID: {{ format.format_id }} {{ format.resolution }}.mp4
                    <a href="{{ url_for('download', url=url, f_id=format.format_id) }}" class="btn btn-primary btn-sm float-right">Download</a>
                </li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-secondary mt-4">Go Back</a>
    </div>
{% endblock %}